@font-face {
    font-family: navbar-primary;
    src: url('../../assets/Lato-Regular.ttf');
}
@font-face {
    font-family: navbar-secondary;
    src: url('../../assets/Lato-Black.ttf');
}

.navbar-container {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 5rem;
    gap: 4rem;
    align-items: center;
}
.logo {
    width: 5rem;
}
p {
    padding-top: 1rem;
    font-family: navbar-primary;
    color: white;
    cursor: pointer;
}
p:hover {
    text-decoration: underline;
    font-family: navbar-secondary;
}